/* 
White: #FFFFRF
Cream: #fffaf2
Dark Blue: #568EA3
Light Blue: #68C3D4
Brown: #826251
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");


body{
  font-family: 'Open Sans', sans-serif;
}
.error{
  color:red;

}

.registration-form{
  background-color:#fffaf2;
  color: #1f2847;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  min-width: 350px;
  max-width: 600px;
  min-height:320px;
  border-radius: 7px;
  box-shadow: 0 0 1px 2px rgb(134, 136, 136);
}

.reg-input{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: inherit;
  margin:5px;
  padding: 5px;
  min-height: 60px;
  min-width: 40px;
}
.Button{
  background-color:#00517C;
  color:white; 
  border: 1px solid rgb(0, 61, 94);
  min-height: 40px;
  min-width: 80px;
  font-size: 18px;
  margin:10px;
  border-radius: 5px;
  
  box-shadow: 0 0 2px 1px rgb(97, 99, 99);
}

.Button:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  color:#68c3d4;
  text-align: center;

}
a:visited{
  color:#568ea3;
}
.reg-header{
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px black;
  color:white;
}
.reg-para{
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px black;
  margin-left: 34px;
  margin-right: auto;
  max-width: 100%;
  margin-top: 10px;

}

.Label{
margin-right:15px;
font-size:18px;
}
footer{
  display: flex;
  flex-direction: column-reverse;
}

.Input{
min-height: 30px;
border-radius: 3px;
}

.aprende{
  font-size:36px;
}
.hero-area {
  height: 102px;
  margin-bottom: 20px;
}

 @media only screen  and (min-width:700px){

  /* .registration-form{
    background-color:#fffaf2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    min-width: 80%;
    min-height:40vh;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px #568ea3;
    
  } */

  .hero-area {
    height: 150px;
    margin-bottom: 20px;
  }

  .reg-input{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;  
    align-items:baseline;
    margin-right:17px;
    padding: 5px;
    min-height: 60px;
    min-width: 366px;
    
  }
  .login-input{
    display: flex;
    flex-direction: row;
    justify-content:center;  
    align-items:center;
    margin-right:0px;
    padding: 5px;
    min-height: 60px;
    min-width: 500px;

  }
}

  /* .Label{
font-size: 23px;
min-width: 250px;
margin:6px;
  }
.Input{
  min-height: 40px;
  min-width:240px ;
} */ 
/* 
footer{
  margin-top:40px;
}

}

@media only screen and (min-width:1200px){

  .registration-form{
    background-color:#fffaf2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    min-width: 45%;
    min-height:40vh;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px #568ea3;
    
  }

  .reg-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    margin:5px;
    padding: 5px;
    min-height: 60px;
    min-width: 700px;
  }
  .Input{
    min-width: 350px;
    min-height: 40px;
  }
  .Label{
    font-size: 30px;
    min-width: 300px;
    margin: 10px;
  }
  footer{
    margin-top: 50px;
  }
  
} */