/* 
White: #FFFFRF
Cream: #fffaf2
Dark Blue: #568EA3
Light Blue: #68C3D4
Brown: #826251
*/

.login-form{
  background-color:#fffaf2;
  color: #1f2847;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  min-width: 280px;
  max-width: 600px;
  min-height:300px;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px rgb(134, 136, 136);
}

.login-form > span{
  text-align: center;
}

 @media only screen  and (min-width:700px){

  .login-form{
    /* min-width: 80%; */
    font-size:20px;
  
    background-color:#fffaf2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    /* min-width: 61%; */
    /* min-height:26vh; */
    border-radius: 7px;
    font-size:20px;
  }
 }
  @media only screen and (min-width:1200px){

    .login-form{
      background-color:#fffaf2;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right:auto;
      min-width: 362px;
      min-height:34vh;
      border-radius: 7px;
      
    }
  } 

  