/* 
White: #FFFFRF
Cream: #fff2e6
Dark Blue: #568EA3
Light Blue: #68C3D4
Brown: #826251
*/

.login-register-box {
  display: flex;
  text-align: center;
  background-color: #fff2e6;
  width: 300px;
  margin: auto;
  color: black;
  border: 1px solid #FFE8D1;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px #FFE8D1;
  flex-flow: column wrap;
  justify-content: center;
  height: 350px;
}

.username-input-area, .password-input-area {
  padding: 5px 0;
}

button {
  margin: 10px 0px;
}

input {
  margin-left: 10px;
}