/* 
White: #FFFFRF
Cream: #fffaf2
Dark Blue: #568EA3
Light Blue: #68C3D4
Brown: #826251
*/

.nav-area {
  width: 100%;
  box-shadow: 0 1px 2px rgb(134, 136, 136);
  background-color: #fffaf2;
}
/* .hero-area {
  height: 150px;
  margin-bottom: 20px;
} */

.nav-username {
  float: left;
}
nav {
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  max-width: 1000px;
  margin: auto;
  height: 50px;
  font-size: 20px;
}

.h1link {
  color: white !important;
}

h1 {
  padding-top: 40px;
  text-align: center;
  margin: auto;
  font-size: 42px;
  text-decoration: none;
  color: white !important;
  text-shadow: 0 0 15px black, 0 0 5px black;
  display: block;
}

.white-header{
  
    padding-top: 40px;
    text-align: center;
   
    margin: auto;
    font-size: 42px;
    text-decoration: none;
    color: white !important;
    text-shadow: 0 0 10px black;
    display: block;
  
}

@media only screen and (min-width:700px){
  .nav-area{
    width:100%;
  }
}